@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-270deg, #FFA500, #3498db);
    background-size: 400% 400%;
    animation: gradientAnimation 10s linear infinite, backgroundMove 10s linear infinite, parallaxBackground 10s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes backgroundMove {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes parallaxBackground {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


header,
nav,
main,
section,
article,
aside,
footer {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
}

header {
    display: flex;
    justify-content: space-evenly;

}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 5px;
}

.search-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;

}

nav a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul:first-child {
    display: flex;
}

ul:first-child li {
    margin-right: 20px;
}

ul:last-child {
    display: flex;
}

ul:last-child li {
    margin-left: 20px;
}

main {
    display: flex;
}

main>section {
    flex: 1;
    padding-right: 20px;
}

main>img {
    width: 300px;
    border: 1px solid #ccc;

}

.slider-container {
    position: relative;
    max-width: 1000px;
    max-height: 500px;
    margin: 0 auto;
}

.slider {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
}

.slide {
    flex: 100% 100% 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 400px; 
    height: 400px;
    object-fit: cover;
}


.slider-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.prev-button,
.next-button {
    padding: 15px 30px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
}



header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    font-family: 'Carter One', cursive;
    color: #ff5722;
    animation: rotateY 4s linear infinite, changeColor 4s linear infinite 4s, scale 3s ease-in-out infinite 8s;
}

@keyframes rotateY {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes changeColor {
    0% {
        color: #ff5722;
    }

    50% {
        color: #3498db;
    }

    100% {
        color: #ff5722;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.search-form {
    max-width: 300px;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.search-button {
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: orangered;
}

.search-input:focus,
.search-button:focus {
    outline: none;
    border: 1px solid orange;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

nav {
    background-color: #333;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;

}

nav a:hover {
    color: #ff9900;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav .login a {
    color: #ff9900;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline;
    margin-right: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer-social {
    font-size: 24px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}