@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #FFA500, #D2691E);
}

header,
nav,
main,
section,
article,
aside,
footer {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
}

header {
    display: flex;
    justify-content: space-evenly;

}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 5px;
}

.search-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;

}

nav a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul:first-child {
    display: flex;
}

ul:first-child li {
    margin-right: 20px;
}

ul:last-child {
    display: flex;
}

ul:last-child li {
    margin-left: 20px;
}

main {
    display: flex;
}

main>section {
    flex: 1;
    padding-right: 20px;
}

main>img {
    width: 300px;
    border: 1px solid #ccc;

}

.slider-container {
    position: relative;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.slider {
    display: flex;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slider img.active {
    opacity: 1;
}

#prevBtn,
#nextBtn {
    transition: transform 0.2s ease-in-out, opacity 0.2ss ease-in-out;
}

#prevBtn:hover,
#nextBtn:hover {
    transform: scale(1.1);
    opacity: 0.8;
}


button {
    color: #8b8686;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;

}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    font-family: 'Carter One', cursive;
    color: #ff5722;
    animation: rotateY 4s linear infinite, changeColor 4s linear infinite 4s, scale 3s ease-in-out infinite 8s;
}

@keyframes rotateY {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes changeColor {
    0% {
        color: #ff5722;
    }

    50% {
        color: #3498db;
    }

    100% {
        color: #ff5722;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.search-form {
    max-width: 300px;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.search-button {
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: orangered;
}

.search-input:focus,
.search-button:focus {
    outline: none;
    border: 1px solid orange;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

nav {
    background-color: #333;
    /* Cambia el color de fondo según tu diseño */
}

nav a {
    color: #fff;
    /* Color de los enlaces */
    text-decoration: none;
    /* Elimina la subraya de los enlaces */
}

nav a:hover {
    color: #ff9900;
    /* Color de los enlaces al pasar el mouse sobre ellos */
}

nav ul {
    list-style: none;
    /* Elimina las viñetas de lista */
    padding: 0;
    margin: 0;
    display: flex;
    /* Alinea los elementos horizontalmente */
    justify-content: space-between;
    /* Distribuye los elementos uniformemente */
}

nav li {
    margin-right: 20px;
    /* Espaciado entre elementos de la lista */
}

nav .login a {
    color: #ff9900;
    /* Cambia el color de los enlaces de inicio de sesión */
    font-weight: bold;
    /* Hace que los enlaces de inicio de sesión sean más prominentes */
    /* Otros estilos específicos para los enlaces de inicio de sesión */
}