@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E6F7FF;
}

header,
nav,
main,
section,
article,
aside,
footer {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
}

header {
    display: flex;
    justify-content: space-evenly;

}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 5px;
}

.search-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;

}

nav a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul:first-child {
    display: flex;
}

ul:first-child li {
    margin-right: 20px;
}

ul:last-child {
    display: flex;
}

ul:last-child li {
    margin-left: 20px;
}

.slider {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    border: 1px solid #ccc;

}

main {
    display: flex;
}

main>section {
    flex: 1;
    padding-right: 20px;
}

main>img {
    width: 300px;
    border: 1px solid #ccc;

}

.slider-container {
    position: relative;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.slider {
    display: flex;
    overflow: hidden;
}

.slider img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button {
    color: #8b8686;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;

}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    font-family: 'Carter One', cursive;
    color: #ff5722;
    animation: rotateY 4s linear infinite, changeColor 4s linear infinite 4s, scale 3s ease-in-out infinite 8s;
}

@keyframes rotateY {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes changeColor {
    0% {
        color: #ff5722;
    }

    50% {
        color: #3498db;
    }

    100% {
        color: #ff5722;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}